.apps-panel{
    margin:0px;  
    padding: 0px;
    box-sizing: border-box;
    
}
.container-fluid{ 
    background: linear-gradient(-45deg, #dc6c4a, #dcd139, #eb8c50, #c4e037);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.display-2{
    color: whitesmoke;
    font-weight: 600;
}
.main{
    justify-content: center;
    align-items: center;    
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,minmax(240px, 240px));
    column-gap: 8rem;
    row-gap: 1.5rem;
}

.image{  
    border-radius: 16px;
    position: relative;
}

.app-logo {
    display: block;
    width: 240px;
    height: 240px;
    padding: 5%;
    object-fit: contain;
    object-position: center;
    border: 2px solid #ebe5e5;
    box-sizing: border-box;
    border-radius: 16px;
}
.dashboard-icon{
    font-size: 42px!important;
    cursor: pointer!important;
    display: block!important;
    margin: 10px auto!important;
    color: white!important;
    border: none!important;
}
a{
    text-decoration: none;
    color: black;;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow:0 0 16px rgba(0,0,0,0.4);
    opacity: 0;
    border-radius: 14px;
    transition: .5s ease;
    background-color: #2a9d8f;
}

.hover-button {
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 151px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}

.image:hover .overlay {
    opacity: 1;
}